<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="buscar-movimiento">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">$</span>
            </div>
            <input type="text" class="form-control" value="{{monto::input}}" aria-label="Monto" aria-describedby="basic-addon3">
          </div>
          <button class="btn btn-success" type="button" on-click="insertar" name="button">Buscar</button>
        </div>
        <div class="col">

        </div>

      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BuscarMovimiento extends Polymer.Element {
      static get is() { return 'buscar-movimiento'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          tipo: {
            type: String
          },
          monto:{
            type: Number
          }
        };
      }
      insertare(){
        alert("hola"+this.name)
      }
      insertar(){
        var request = new XMLHttpRequest();
        request.open("POST","http://localhost:3000/Movimientos/Agregar",false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoCliente={
            "fecha":"05-08-2019",
            "nombre":this.name,
            "tipo":this.tipo,
            "saldo":this.monto
          }
        alert(JSON.stringify(nuevoCliente))
        var body =JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }

    }

    window.customElements.define(BuscarMovimiento.is, BuscarMovimiento);
  </script>
</dom-module>
