<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="ver-movimientos">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <button class="btn btn-success" on-click="obtenerClientes" type="button" name="button">Obtener Clientes </button>
      </div>
      <div class="row">
        <table class="table table-striped">
          <tbody>
            <template is="dom-repeat" items={{clientes}}>
              <tr>
                <td>[[item.fecha]]</td>
                <td>[[item.nombre]]</td>
                <td>[[item.tipo]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VerMovimientos extends Polymer.Element {
      static get is() { return 'ver-movimientos'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET","http://localhost:3000/Movimientos/Visualizar",false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        this.clientes=JSON.parse(request.responseText);
        //console.log(this.clientes);
        console.table(this.clientes);
      }
    }

    window.customElements.define(VerMovimientos.is, VerMovimientos);
  </script>
</dom-module>
